<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description: ventas en linea" content="" />
<meta name="author:metabit" content="" />

<title>Gestión Subcategorías</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">
</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Sidebar -->
		<div th:insert="fragments/sidebar::sidebar"></div>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<div th:insert="fragments/topbar::topbar"></div>
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- ESPACIO DE TRABAJO  -->

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Listado de Subcategorías</h1>
						<button href="#"
							class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
							data-id-categoria="1">
							<i class="fas fa-plus-circle fa-sm text-white-50"> </i> Crear
							Subcategoría
						</button>
					</div>
					<!-- Page Heading -->

					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Descripción</th>
										<th>Estado</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
										<tr th:each="subcategoria : ${subcategorias}">
											<td th:text="${subcategoria.nombreSubcategoria}"><span>Subcategoria</span></td>
											<td th:text="${subcategoria.descripcionSubcategoria}"><span></span></td>
											<td th:text="${subcategoria.habilitado}"><span>Habilitado</span></td>
											<td>
												<button class="btn-sm btn-secondary" title="Listado de productos"><a href="#"><i class="fas fa-list"></i></a></button>
												<button class="btn-sm btn-primary" title="Editar"><i class="fas fa-pencil-alt"></i></button>
												<button class="btn-sm btn-danger" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
											</td>
										</tr>
										
								</tbody>
							</table>
						</div>
					</div>
					<!-- FIN DE ESPACIO DE TRABAJO -->
				</div>
			</div>
		</div>
	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- MODALES  -->
	<!-- Modal para crear subcategoría -->
	<div class="modal fade" id="crearSubcategoria" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="crearModalCenterTitle">Crear
						Subcategoría</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="crear-subcategoria-body">
					<form class="user">
						<div class="form-group">
							<input type="text" class="form-control form-control-user"
							    placeholder="Nombre de subcategoria">
						</div>
						<div class="form-group">
							<textarea type="text" class="form-control form-control-user"
								 placeholder="Descripcion"></textarea>
						</div>
						<div class="form-group">					
							<input type="hidden" class="form-control form-control-user"
								 placeholder="Habilitado" value="1">
						</div>
						<div class="form-group">					
							<input type="hidden" class="form-control form-control-user"
								 placeholder="id_categoria" value="" id="id_categoria">
						</div>
						<a href="#" class="btn btn-primary btn-user btn-block">
							Guardar </a>
						<a href="#" class="btn btn-secondary btn-user btn-block" data-dismiss="modal"
						aria-label="Close">
							 Cancelar
						</a> 
					</form>

				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
	<!-- Modal para crear subcategoría -->

	<!-- MODALES  -->

	<!-- Logout Modal-->
	<div th:insert="fragments/modallogout::modallogout"></div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>

	<!-- Scripts -->
	<script>
		$('[data-id-categoria]').on('click', crearSubcategoria);

		function crearSubcategoria() {
			$('#id_categoria').attr('value', $(this).data('id-categoria'));
			$('#crearSubcategoria').modal('show');
		}
	</script>
	<!-- Scripts-->
</body>
</html>