<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description: ventas en linea" content="" />
<meta name="author:metabit" content="" />

<title>Gestión Departamentos</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Sidebar -->
		<div th:insert="fragments/sidebar::sidebar"></div>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<div th:insert="fragments/topbar::topbar"></div>
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- ESPACIO DE TRABAJO  -->

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h4 mb-0 text-gray-800">Listado de Departamentos</h1>
						<a href="#" th:href="@{/departamento/form-departamento}"
							class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
							<i class="fas fa-plus-circle fa-sm text-white-50"> </i> Crear
							Departamento
						</a>
					</div>
					<!-- Page Heading -->


					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Descripción</th>
										<th>Estado</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="departamento: ${departamentos}">
										<td><span th:text="${departamento.nombre}"></span></td>
										<td><span th:text="${departamento.descripcion}"></span></td>
										<td th:if="${departamento.habilitado}" th:text="Habilitado"><span>Habilitado</span></td>
										<td th:unless="${departamento.habilitado}"
											th:text="Deshabilitado"><span>Deshabilitado</span></td>
										<td>				
											<a class="btn btn-sm btn-secondary" title="Listado de Categorias" style="text-decoration: none; color: white;"
												th:href="@{'/departamento/'+${departamento.id}+'/categoria/listar'}"><i
												class="fas fa-list"></i>
											</a>
													
											<a class="btn btn-sm btn-primary" style="text-decoration: none; color: white;"
												th:href="@{'/departamento/form-departamento/'+${departamento.id}+''}" title="Editar">
												<span><i class="fas fa-pencil-alt"></i></span>
											</a>
											
											<a th:if="${departamento.habilitado}"
												class="btn btn-sm btn-danger" title="Deshabilitar"
												data-deshabilitar-departamento th:value="${departamento.id}"
												style="text-decoration: none; color: white;">
												<i class="fas fa-minus "></i>
											</a>
											
											<a th:unless="${departamento.habilitado}"
												class="btn btn-sm btn-option" title="Habilitar"
												data-habilitar-departamento th:value="${departamento.id}"
												style="text-decoration: none; color: white;">
												<i class="fas fa-check"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- FIN DE ESPACIO DE TRABAJO -->
				</div>
			</div>
		</div>
	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:insert="fragments/modallogout::modallogout"></div>

	<!-- MODALES  -->

	<!-- Modal para habilitar departamento -->
	<div class="modal fade" id="habilitarDepartamento" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="habilitarModalCenterTitle">Habilitar
						departamento</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="habilitar-departamento-body">
					<form class="user" action="#"
						th:action="@{/departamento/habilitar-departamento-post}"
						method="POST">
						<h5>¿Desea habilitar este departamento?</h5>
						<p>Al habilitar se mostrarán los productos que pertenecen a
							este departamento.</p>
						<div class="form-group">
							<input type="hidden" class="form-control form-control-user"
								id="id_departamento_habilitar" name="id_departamento">
						</div>
						<input type="submit" value="Habilitar"
							class="btn btn-primary btn-user float-right" /> <a href="#"
							class="btn btn-secondary btn-user float-right mr-2"
							data-dismiss="modal" aria-label="Close"> Cancelar </a>
					</form>

				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>

	<!-- Modal para dehabilitar departamento -->

	<!-- Modal para deshabilitar departamento -->
	<div class="modal fade" id="deshabilitarDepartamento" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deshabilitarModalCenterTitle">Deshabilitar
						departamento</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="deshabilitar-departamento-body">
					<form class="user" action="#"
						th:action="@{/departamento/deshabilitar-departamento-post}"
						method="POST">
						<h5>¿Desea deshabilitar este departamento?</h5>
						<p>No se mostrarán los productos que pertenecen a este
							departamento.</p>
						<div class="form-group">
							<input type="hidden" class="form-control form-control-user"
								id="id_departamento" name="id_departamento">
						</div>
						<input type="submit" value="Deshabilitar"
							class="btn btn-danger btn-user float-right" /> <a href="#"
							class="btn btn-secondary btn-user float-right mr-2"
							data-dismiss="modal" aria-label="Close"> Cancelar </a>
					</form>

				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>

	<!-- Modal para dehabilitar departamento -->



	<!-- MODALES  -->

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>

	<!-- Scripts-->
	<script>
		$('[data-deshabilitar-departamento]').on('click',
				deshabilitarDepartamento);
		$('[data-habilitar-departamento]').on('click', habilitarDepartamento);

		function deshabilitarDepartamento() {
			$('#id_departamento').attr('value', $(this).val());
			$('#deshabilitarDepartamento').modal('show');
		}

		function habilitarDepartamento() {
			$('#id_departamento_habilitar').attr('value', $(this).val());
			$('#habilitarDepartamento').modal('show');
		}
	</script>

	<!-- Scripts-->

</body>
</html>