<div class="p-5" th:fragment="ES">

	<div class="text-center col-12 mb-6 mb-sm-0">
		<h1 class="h4 text-gray-900 mb-4" th:text="${kardex.producto.titulo}"></h1>
	</div>
	<form th:action="@{/kardex-one/{kar}/addES(kar=${kardex.idKardex})}"
		method="POST" class="user" th:object="${es}" id="register">
		<div class="form-group row">
			<div class="col-12 mb-6 mb-sm-0">
				<input type="number" class="form-control form-control-user"
					id="exampleFirstName" placeholder="Cantidad" th:field="*{cantidad}"
					required>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-12 mb-6 mb-sm-0">
				<input type="number" step="any"
					class="form-control form-control-user" id="exampleFirstName"
					placeholder="Precio" th:field="*{precio}" required>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-12 mb-6 mb-sm-0">
				<select class="form-control" th:field="*{isEntradaSalida}"
					form="register">
					<option th:value="false" th:text="Entrada"></option>
					<option th:value="true" th:text="Salida"></option>
				</select>
			</div>
		</div>
		<hr>
		<div class="form-group row text-right">
			<div class="col-12 mb-6 mb-sm-0">
				<input type="submit" class="btn btn-info" id="exampleFirstName"
					value="Registrar">
				<button data-dismiss="modal" class="btn btn-danger">Salir</button>
			</div>

		</div>
	</form>

</div>


