<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nuevo Producto</title>

	<!-- Custom fonts for this template-->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
		rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
		rel="stylesheet">

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
</head>
<body>
	<div id="wrapper">
		<div th:insert="fragments/sidebar::sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<div th:insert="fragments/topbar::topbar"></div>
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- ESPACIO DE TRABAJO  -->

					<div class="container">
						<div class="row ml-5">
							<div class="col-md-10">
								<ul th:if="${errors}" class="alert alert-danger ml-2 mr-2" role="alert">
									<li  class="ml-2" th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
									<li class="ml-2" th:if="${imageError}" th:text="${imageError}"></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row ml-5">
							<div class="col-md-10">
								<div class="card">
								  <div class="card-header">
								    <h5 class="card-title">Nuevo Producto</h5>
								  </div>
								  <div class="card-body">
									<form method="post" th:action="@{/producto/nuevo}" enctype="multipart/form-data" class="user">
									<input type="hidden" th:value="${idSubcateogria}" name="idSubcategoria"/>

									<div class="form-group row">
					                  <div class="col-sm-6 mb-3 mb-sm-0">
					                    <label for="">Nombre del producto*</label>
									  	<input type="text" th:field="*{producto.titulo}" class="form-control form-control-user" required>
					                  </div>
					                  <div class="col-sm-6">
					                    <label for="">Marca del producto*</label>
									  	<input type="text" th:field="*{producto.marca}" class="form-control form-control-user" required>
					                  </div>
					                </div>

									<div class="form-group row">
					                  <div class="col-sm-6 mb-3 mb-sm-0">
					                    <label for="">Margen de ganancia*</label>
									  	<input type="number" th:field="*{producto.margenGanancia}" min="1" class="form-control form-control-user" required>
					                  </div>
					                  <div class="col-sm-6">
					                    <label for="">Porcentaje de descuento*</label>
									  <input type="number" th:field="*{producto.porcentajeDescuento}" min="0" class="form-control form-control-user" required>
					                  </div>
					                </div>

									<div class="form-group row">
					                  <div class="col-sm-6 mb-3 mb-sm-0">
					                      <label for="">Catidad mínima*</label>
										  <input type="number" th:field="*{kardex.stockMinimo}" min="0" class="form-control form-control-user" required id="cantidadMinima">
					                  </div>
					                  <div class="col-sm-6">
					                  	<label for="">Cantidad máxima*</label>
										  <input type="number" th:field="*{kardex.stockMaximo}" min="1" class="form-control form-control-user" required id="cantidadMaxima">
					                  </div>
					                </div>

									<div class="form-group">
										<label for="">Descripción del producto*</label>
									  	<textarea th:field="*{producto.descripcionArticulo}" class="form-control form-control-user" required></textarea>
									</div>
									<div class="form-group">
										<label for="">Imagen del producto*</label>
									  <input type="file" name="image" class="form-control btn btn-default" value="Seleccionar imagen" required>
									</div>
									<div class="form-group" style="float: right;">
									  <input type="submit" class="btn btn-primary" value="Registrar Producto" required>
									</div>
									</form>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- FIN DE ESPACIO DE TRABAJO -->
				</div>
			</div>
		</div>

	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:insert="fragments/modallogout::modallogout"></div>
</body>

<script>
	$('#cantidadMinima').on('blur', function(){
		var cantidad_max = $('#cantidadMaxima');
		var cantidad_min = $(this).val();

		cantidad_max.attr('min', parseInt(cantidad_min, 10)+1);
  });

</script>
</html>