<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>MetaBit Store Online | Productos</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>

</head>
<body>
	<div id="wrapper">
		<div th:insert="fragments/sidebar::sidebar"></div>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<div th:insert="fragments/topbar::topbar"></div>
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- ESPACIO DE TRABAJO  -->

					<div class="row ml-5 mr-4">
						<div class="card mr-3 mb-3 mt-3" style="width: 18rem;"
							th:each=producto:${productos}>
							<img th:src=${producto.imagen} class="card-img-top">
							<div class="card-body">
								<h5 class="card-title" th:text=${producto.titulo}>
									<strong>$50.00</strong>
								</h5>
								<p class="card-text" th:text=${producto.descripcionArticulo}></p>
							</div>
							<div class="card-footer"><button data-agregar th:value=${producto.idArticulo} class="btn btn-primary">Añadir a Carrito</button></div>
						</div>
					</div>
					<!-- FIN DE ESPACIO DE TRABAJO -->

				</div>
			</div>
		</div>

	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:insert="fragments/modallogout::modallogout"></div>


<!-- Modal elimanr Asignación de área a clave-->
<div class="modal fade" id="agregarCarrito" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarModalCenterTitle">Agregar a carrito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" th:action="@{/producto/agregar-producto}" method="post">
        <div class="modal-body" id="agregar-producto">
          <input type="hidden" value="" id="id-producto" name="producto_id">
          <div class="form-group">
            <label for="cantidad-producto">Cantidad*</label>
            <input type="number" min="1" class="form-control" id="cantidad-producto" name="cantidad">
          </div>
        </div>
        <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	        <button type="submit" class="btn btn-primary">Agregar</button>    
        </div>
      </form>
    </div>
  </div>
</div>

</body>

<script>
	$('[data-agregar]').on('click', function(){
		$('#id-producto').attr('value', $(this).val())
		$('#agregarCarrito').modal('show');
	})

	$('#carrito').on('click', function(){

		//AJAX
		$.get('/api/productos-agregados', function(data){
			html_productos='';

			if(data.length==0){
				return;
			}

			for(var i = 0; i < data.length; i++){
				html_productos += 
				'<div class="row">'+
				'<div class="col">'+
				'<span class="float-left font-weight-bold">' + data[i].producto.titulo + '. Cantidad: '+ data[i].cantidad +' </span>'+
				'</div>'+
				'<div class="col">'+
				'<a href="/producto/remover-producto/'+data[i].producto.idArticulo+'" title="Remover" class="float-right btn btn-sm btn-danger"><i class="fas fa-minus-circle"></i></a>'+
				'</div>'+
				'</div>';

				if(i<data.length-1){
					html_productos += '<hr>';
				}
			}

			$('#productos_agregados').html(html_productos);
		})
	})

	$(document).ready(function(){

		//AJAX
		$.get('/api/productos-agregados', function(data){

			if(data.length==0){
				return;
			}

			$('#cantidad_agregada').text(data.length+'+');
		})

	})
</script>

</html>