<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>MetaBit Store Online | Productos</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>

</head>
<body>
	<div id="wrapper">
		<div th:insert="fragments/sidebar::sidebar"></div>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<div th:insert="fragments/topbar::topbar"></div>
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- ESPACIO DE TRABAJO  -->
				
					<div th:if="${message}">
				     	<div class="alert alert-success text-center">
				     		<h4 th:text="${message}"></h4>
				     	</div>
	      		  	</div>

					<!--Products DataTale-->
		          <div class="card shadow mb-4">
		            <div class="card-header py-3">
		              <div class="row">
		              	<div class="col">
		              		<h4 class="m-0 font-weight-bold text-primary float-left">Productos</h4>
		              	</div>
		              	<div th:if="${todos} != 1">
		              	<div class="col">
		              		<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" 
		              		th:href="@{/producto/nuevo/{id}(id=${subcategoria.idSubcategoria})}" title="Registrar producto">
			                	<i class="fas fa-plus-circle"></i>
			                	<b>Registrar Producto</b>
			           		</a>
		              	</div>


		              </div>
		              </div>
		            </div>
		            <div class="card-body">
		              <div class="table-responsive">
		                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		                  <thead>
		                    <tr>
		                      <th>Nombre</th>
		                      <th>Marca</th>
		                      <th>Margen de ganacia</th>
		                      <th>Descuento</th>
		                      <th>Opciones</th>
		                    </tr>
		                  </thead>
		                  <tfoot>
		                    <tr>
		                      <th>Nombre</th>
		                      <th>Marca</th>
		                      <th>Margen de ganacia</th>
		                      <th>Descuento</th>
		                      <th>Opciones</th>
		                    </tr>
		                  </tfoot>
		                  <tbody>
		                    <tr th:each="producto:${productos}">
		                      <td th:text="${producto.titulo}"></td>
		                      <td th:text="${producto.marca}"></td>
		                      <td th:text="${producto.margenGanancia}"></td>
		                      <td th:text="${producto.porcentajeDescuento}"></td>
		                      <td>
		                      	<a th:if="${producto.habilitado} == 1" th:href="@{/producto/ver-detalle/{id}(id=${producto.idArticulo})}" title="Ver detalle" class="btn btn-sm btn-info">
		                      		<i class="fas fa-info-circle"></i>
		                      	</a>
		                      	<a th:if="${producto.habilitado} == 1" th:href="@{/producto/actualizar/{id}(id=${producto.idArticulo})}" title="Editar" class="btn btn-sm btn-primary">
		                      		<i class="fas fa-pencil-alt"></i>
		                      	</a>
		                      	<button th:if="${producto.habilitado} == 1" title="Asignar descuento" class="btn btn-sm btn-dark" th:onclick="|asignar_desc('${producto.idArticulo}','${producto.porcentajeDescuento}')|">
		                      		<i class="fas fa-donate"></i>
		                      	</button>
		                      	<button th:if="${producto.habilitado} == 1" title="Deshabilitar producto" class="btn btn-sm btn-danger" th:onclick="|hab_deshab('${producto.idArticulo}',0)|">
		                      		<i class="fas fa-minus-circle"></i>
		                      	</button>
		                      	<button th:if="${producto.habilitado} == 0" title="Habilitar producto" class="btn btn-sm btn-primary" th:onclick="|hab_deshab('${producto.idArticulo}',1)|">
		                      		<i class="fas fa-plus-circle"></i>
		                      	</button>
		                      </td>
		                    </tr>
		                  </tbody>
		                </table>
		              </div>
		            </div>
		          </div>
					<!-- FIN DE ESPACIO DE TRABAJO -->

				</div>
			</div>
		</div>

	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:insert="fragments/modallogout::modallogout"></div>
	
	<!-- Modal para asignar descuento a producto -->
<div class="modal fade" id="asignar_desc_mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Asignar descuento a producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" th:action="@{/producto/asignar-descuento}">
        <div class="modal-body">
          <input type="hidden" value="" id="producto_id" name="producto_id">
          <div class="form-group">
            <label for="cantidad-producto">Nuevo descuento</label>
            <input type="number" step="5.00" min="0" class="form-control" id="descuento" name="descuento" value="">
          </div>
        </div>
        <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	        <button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>    
        </div>
       </form>
    </div>
  </div>
</div>

	<!-- Modal para habilitar/deshabilitar descuento a producto -->
<div class="modal fade" id="habilitar-producto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Cambio de estado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
        	<p id="p-message"></p>	
        </div>
        <div class="modal-footer">
        <form th:action="@{/producto/hab-deshab}" method="post">
        	<input type="hidden" value="" id="producto_id_hab" name="producto_id_hab">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	        <button type="submit" id="btnAccion" class="btn"></button>    
        </form>
        </div>
    </div>
  </div>
</div>
	
</body>

<script>
	$(document).ready(function(){
	  	setTimeout(function() {
	       $(".alert").fadeOut();           
	  	},3000);
	});
	
	function asignar_desc(producto_id, descuento_actual){
		$("#producto_id").val(producto_id);
		$("#descuento").val(descuento_actual);
		$("#asignar_desc_mod").modal();
		$("#descuento").focus();
	}
	
	function hab_deshab(producto_id, habilitado){
		if(habilitado == 0){
			$("#btnAccion").text("Deshabilitar");
			$("#btnAccion").addClass("btn-danger");
			$("#p-message").text("¿Está seguro que desea deshabilitar el producto?");
		}else{
			$("#btnAccion").text("Habilitar");
			$("#btnAccion").addClass("btn-primary");
			$("#p-message").text("¿Está seguro que desea habilitar el producto?");
		}
		
		$("#producto_id_hab").val(producto_id);
		$("#habilitar-producto").modal();
	}
	
</script>

</html>