<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Actualizar Producto</title>

	<!-- Custom fonts for this template-->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
		rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
		rel="stylesheet">

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
</head>
<body>
	<div id="wrapper">
		<div th:insert="fragments/sidebar::sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<div th:insert="fragments/topbar::topbar"></div>
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- ESPACIO DE TRABAJO  -->
					<div class="container">
						<div class="row ml-5">
							<div class="col-md-10">
								<div class="card">
								  <div class="card-header">
								    <h5 class="card-title">Actualizar Producto</h5>
								  </div>
								  <div class="card-body">
									<form method="post" th:action="@{/producto/actualizar}" enctype="multipart/form-data" class="user">
									<input type="hidden" th:field="*{producto.idArticulo}">
									<input type="hidden" th:field="*{producto.imagen}">
									<input type="hidden" th:field="*{kardex.idKardex}">

									<div class="form-group row">
					                  <div class="col-sm-6 mb-3 mb-sm-0">
					                    <label for="">Nombre del producto*</label>
									  	<input type="text" th:field="*{producto.titulo}" class="form-control form-control-user">
									  	<p th:if="${#fields.hasErrors('producto.titulo')}" th:errors="*{producto.titulo}" class="alert alert-danger"></p>
					                  </div>
					                  <div class="col-sm-6">
					                    <label for="">Marca del producto*</label>
									  	<input type="text" th:field="*{producto.marca}" class="form-control form-control-user">
									  	<p th:if="${#fields.hasErrors('producto.marca')}" th:errors="*{producto.marca}" class="alert alert-danger"></p>
					                  </div>
					                </div>

									<div class="form-group row">
					                  <div class="col-sm-6 mb-3 mb-sm-0">
					                    <label for="">Margen de ganancia*</label>
									  	<input type="number" th:field="*{producto.margenGanancia}" min="0" class="form-control form-control-user">
									  	<p th:if="${#fields.hasErrors('producto.margenGanancia')}" th:errors="*{producto.margenGanancia}" class="alert alert-danger"></p>
					                  </div>
					                  <div class="col-sm-6">
					                    <label for="">Porcentaje de descuento*</label>
									  <input type="number" th:field="*{producto.porcentajeDescuento}" min="0" class="form-control form-control-user">
									  <p th:if="${#fields.hasErrors('producto.porcentajeDescuento')}" th:errors="*{producto.porcentajeDescuento}" class="alert alert-danger"></p>
					                  </div>
					                </div>

									<div class="form-group row">
					                  <div class="col-sm-6 mb-3 mb-sm-0">
					                      <label for="">Cantidad máxima*</label>
										  <input type="number" th:field="*{kardex.stockMaximo}" min="0" class="form-control form-control-user">
										  <p th:if="${#fields.hasErrors('kardex.stockMaximo')}" th:errors="*{kardex.stockMaximo}" class="alert alert-danger"></p>
					                  </div>
					                  <div class="col-sm-6">
					                    <label for="">Catidad mínima*</label>
										  <input type="number" th:field="*{kardex.stockMinimo}" min="0" class="form-control form-control-user">
										  <p th:if="${#fields.hasErrors('kardex.stockMinimo')}" th:errors="*{kardex.stockMinimo}" class="alert alert-danger"></p>
					                  </div>
					                </div>

									<div class="form-group">
										<label for="">Descripción del producto*</label>
									  	<textarea th:field="*{producto.descripcionArticulo}" class="form-control form-control-user"></textarea>
									  	<p th:if="${#fields.hasErrors('producto.descripcionArticulo')}" th:errors="*{producto.descripcionArticulo}" class="alert alert-danger"></p>
									</div>
									<div class="form-group">
										<label for="">Imagen del producto*</label>
									  <input type="file" name="image" class="form-control btn btn-default">
									  <small class="form-text text-muted">Al no seleccionar una imagen se mantendrá la anterior.</small>
									</div>
									<div class="form-group" style="float: right;">
									  <input type="submit" class="btn btn-primary" value="Guardar cambios">
									</div>
									</form>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- FIN DE ESPACIO DE TRABAJO -->
				</div>
			</div>
		</div>

	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:insert="fragments/modallogout::modallogout"></div>
</body>

<script>
	$(document).ready(function(){
	  	setTimeout(function() {
	       $(".alert").fadeOut();           
	  	},3000);
	})
</script>

</html>