<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description: ventas en linea" content="" />
<meta name="author:metabit" content="" />

<title>Resetear Contraseña</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
    rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <div th:insert="fragments/sidebar::sidebar" class="bg-gradient-primary"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div th:insert="fragments/topbar::topbar"></div>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- ESPACIO DE TRABAJO  -->

                    <div class="container">

                        <!-- Outer Row -->
                        <div class="row justify-content-center">

                            <div class="col-xl-10 col-lg-12 col-md-9">

                                <div class="card o-hidden border-0 shadow-lg my-5">
                                    <div class="card-body p-0">
                                        <!-- Nested Row within Card Body -->
                                        <div class="row">
                                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                            <div class="col-lg-6">
                                                <div class="p-5">
                                                    <div class="text-center">
                                                        <h1 class="h4 text-gray-900 mb-4">Nueva Contraseña</h1>
                                                    </div>
                                                    <p>Ingrese su nueva contraseña</p>
                                                    <div th:if="${error}">
                                                        <div class="alert alert-danger">
                                                            <span th:text="${error}"></span>
                                                        </div>
                                                    </div>
                                                    <div id="errorP">
                                                        
                                                    </div>
                                                    <div th:if="${valido}">
                                                     
                                                    
                                                    <form  class="user" th:action="@{/reset-password}" th:object="${passwordResetForm}" method="POST">
                                                        <input type="hidden" name="token" th:value="${token}"/>

                                                        <div class="form-group"
                                                             th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                                            <div class="input-group">
                                                                
                                                                <input id="password"
                                                                       class="form-control form-control-user"
                                                                       placeholder="password"
                                                                       type="password"
                                                                       th:field="*{password}"
                                                                       name="pass1"/>
                                                            </div>
                                                            <p class="alert alert-danger"
                                                               th:each="error: ${#fields.errors('password')}"
                                                               th:text="${error}">Validacion de errores</p>
                                                        </div>
                                                        <div class="form-group"
                                                             th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                                            <div class="input-group">
                                                                
                                                                <input id="confirmPassword"
                                                                       class="form-control form-control-user"
                                                                       placeholder="Confirm password"
                                                                       type="password"
                                                                       th:field="*{confirmPassword}"
                                                                       name="pass2"/>
                                                            </div>
                                                            <p class="alert alert-danger"
                                                               th:each="error: ${#fields.errors('confirmPassword')}"
                                                               th:text="${error}">Validacion de errores</p>
                                                        </div>                                                 
                                                        <hr>
                                                        <div class="form-group">
                                                            <button id="boton" disabled type="submit" class="btn btn-block btn-user btn-primary">Restablecer la contraseña</button>
                                                        </div>
                                                    </form>
                                                    </div>
                                                    <hr>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- FIN DE ESPACIO DE TRABAJO -->
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"> <i
        class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:insert="fragments/modallogout::modallogout"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
<script type="text/javascript">
 $(document).ready(function() {
    //variables
    var pass1 = $('[name=password]');
    var pass2 = $('[name=confirmPassword]');    
    //oculto por defecto el elemento span
    //var span = $('<span></span>').insertAfter(pass2);
    //span.hide();
    //función que comprueba las dos contraseñas
    function coincidePassword(){
        var valor1 = pass1.val();
        var valor2 = pass2.val();
        //muestro el span
        //span.show().removeClass();
        //condiciones dentro de la función
        if(valor1 != valor2){
        //span.text(negacion).addClass('negacion');
        $('#errorP').html('<div class="alert alert-danger"><span>Las contraseñas no coinciden</span></div>');
        $("#boton").attr("disabled", "disabled");
        }
        if(valor1.length==0 || valor1==""){
        //span.text(vacio).addClass('negacion');
        $('#errorP').html('<div class="alert alert-danger"><span>Escriba una contraseña</span></div>');
        $("#boton").attr("disabled", "disabled");
        }
        if(valor1.length<6){
        //span.text(longitud).addClass('negacion');
        $('#errorP').html('<div class="alert alert-danger"><span>La contraseña debe de ser mayor a 6 caracteres y menor a 10 caracteres</span></div>');
        $("#boton").attr("disabled", "disabled");
        }
        if(valor1.length!=0 && valor1==valor2){
        //span.text(confirmacion).removeClass("negacion").addClass('confirmacion');
        //console.log(pass1);
        $('#errorP').html('<div class="alert alert-success"><span>Perfecto Las Contraseñas coinciden</span></div>');
        $("#boton").removeAttr("disabled");
        }
    }
    //ejecuto la función al soltar la tecla
    pass2.keyup(function(){
    coincidePassword();
    });
});   
</script>
</body>
</html>